<a href="https://colab.research.google.com/github/amjad5azx/PythonBasic/blob/main/Python_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Modules:**
Modules use to borrow code from someone else which means you can us someone else code with the help of modules.

**Types of modules:**

**1)	Built In Modules:** These modules are ship along with python programming language

**2)	External Modules:** These modules are written by other people.

**Python Comments**

A comment is a section of a coding file that the programmer does not want to execute; rather, the programmer uses it to explain a block of code or to avoid executing a specific section of code during testing.

**Single-Line Comments:**

To write a comment just add a ‘#’ at the start of the line.

In [ ]:
#This is a 'Single-Line Comment'
print("This is a print statement.")

This is a print statement.

**Multi-Line Comments:**

To write multi-line comments you can use ‘#’ at each line or you can use the multiline string.

In [ ]:
"""This is an if-else statement.
It will execute a block of code if a specified condition is true.
If the condition is false then it will execute another block of code."""
p = 7
if (p > 5):
    print("p is greater than 5.")
else:
    print("p is not greater than 5.")

p is greater than 5.

**Escape Sequence Characters**

To insert characters that cannot be directly used in a string, we use an escape sequence character.

An escape sequence character is a backslash \ followed by the character you want to insert.

In [ ]:
#print("This doesnt "execute")
print("This will \" execute")

This will " execute

**More on Print statement**

The syntax of a print statement looks something like this:

print(object(s), sep=separator, end=end, file=file, flush=flush)

**Other Parameters of Print Statement**

object(s): Any object, and as many as you like. Will be converted to string before printed

sep='separator': Specify how to separate the objects, if there is more than one. Default is ' '

end='end': Specify what to print at the end. Default is '\n' (line feed)

file: An object with a write method. Default is sys.stdout

Parameters 2 to 4 are optional

In [ ]:
print('Hello','Hi',sep=',')
print('Hi',6,3,6,sep='!',end='\t')#new print statement will be started with tab instead of new line due to end parameter containing tab
print("hello")

Hello,Hi
Hi!6!3!6	hello

**Day 6 - Variables and Data Types**

**What is a variable?**

Variable is like a container that holds data.

**What is a Data Type?**

Data type specifies the type of value a variable holds.

In python, we can print the type of any operator using type function:

In [ ]:
a = 1
b = True
c = "Harry"
d = None

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>

In [ ]:
print(type(6))

<class 'int'>

**1. Numeric data: int, float, complex**

int: 3, -8, 0

float: 7.349, -9.0, 0.0000001

complex: 6 + 2i

In [ ]:
num=1
floatnum=3.4
com_num=2+5j
com_num2=complex(2,6)
print(num,floatnum,com_num,com_num2)

1 3.4 (2+5j) (2+6j)

In [ ]:
print(type(com_num))
print(type(com_num2))

<class 'complex'>
<class 'complex'>

**2. Text data: str**

str: "Hello World!!!", "Python Programming"

**3. Boolean data:**

Boolean data consists of values True or False.

**4. Sequenced data: list, tuple**

**list:** A list is an ordered collection of data with elements separated by a comma and enclosed within square brackets.
Lists are mutable and can be modified after creation.

In [ ]:
list1=[1,2,'Amjad',(1,2)]
print(list1)

[1, 2, 'Amjad', (1, 2)]

**Tuple:** A tuple is an ordered collection of data with elements separated by a comma and enclosed within parentheses.
Tuples are immutable and can not be modified after creation.

In [ ]:
tuple1=(1,2,('AMJAD'),'ali')
print(tuple1)
tuple1 = (("parrot", "sparrow"), ("Lion", "Tiger"))
print(tuple1)

(1, 2, 'AMJAD', 'ali')
(('parrot', 'sparrow'), ('Lion', 'Tiger'))

**5. Mapped data: dict**

**dict:** A dictionary is an unordered collection of data containing a key:value pair. The key:value pairs are enclosed within curly brackets.

In [ ]:
dict1={'Name':'Amjad','Class':9}
print(dict1['Name'])
print(dict1['Class'])
print(dict1)

Amjad
9
{'Name': 'Amjad', 'Class': 9}

**Operators**


+	Addition	15+7
-	Subtraction	15-7
*	Multiplication	5*7
**Exponential	5**3

/	Division	5/3

%	Modulus	15%7

//	Floor Division	15//7

In [ ]:
n = 15
m = 7
ans1 = n+m
print("Addition of",n,"and",m,"is", ans1)
ans2 = n-m
print("Subtraction of",n,"and",m,"is", ans2)
ans3 = n*m
print("Multiplication of",n,"and",m,"is", ans3)
ans4 = n/m
print("Division of",n,"and",m,"is", ans4)
ans5 = n%m
print("Modulus of",n,"and",m,"is", ans5)
ans6 = n//m
print("Floor Division of",n,"and",m,"is", ans6)
ans7=2**3
print('exponential anser is ',ans7)

Addition of 15 and 7 is 22
Subtraction of 15 and 7 is 8
Multiplication of 15 and 7 is 105
Division of 15 and 7 is 2.142857142857143
Modulus of 15 and 7 is 1
Floor Division of 15 and 7 is 2
exponential anser is  8

**Excercise 1: Calculator**

In [ ]:
a=5
b=3
print('Addition: ',(a+b))
print('Subtraction: ',(a-b))
print('Multiplication: ',(a*b))
print('Division: ',(a/b))
print('Modulus: ',(a%b))
print('Floor Division',(a//b))
print('Exponential: ',a**2)

Addition:  8
Subtraction:  2
Multiplication:  15
Division:  1.6666666666666667
Modulus:  2
Floor Division 1
Exponential:  25

**Typecasting in python**

The conversion of one data type into the other data type is known as type casting in python or type conversion in python

Python supports a wide variety of functions or methods like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type casting in python.

**Types of Typecasting:**

Explicit Conversion (Explicit type casting in python)

Implicit Conversion (Implicit type casting in python).


**Explicit Conversion (Explicit type casting in python):**

Explicit type casting refers to the deliberate conversion of a value from one data type to another using specific functions or methods.

It can be achieved with the help of Python’s built-in type conversion functions such as int(), float(), hex(), oct(), str(), etc .

In [ ]:
a=13
print(type(a))
a=str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
a="12"
b="13"
print(a+b)
print(int(a)+int(b))

1213
25

**Implicit Conversion (Implicit type casting in python):**

Implicit type casting, also known as type coercion, happens automatically in programming languages like Python.

When different data types are mixed in operations, the language automatically converts them to a common type so that the operation can be performed. For example, if you add an integer and a floating-point number, the language might automatically convert the integer to a float before the addition. This helps prevent errors and makes code more flexible.

In [ ]:
a=13
b=1.3
c=b+a
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

**Taking Input**

In python we can take input by using input() method as shown below:

In [ ]:
a=input('Enter your name: ')
print(a)

Enter your name: Amjad
Amjad

But the problem is that input method return value in only string we have to convert it to required data type by typecasting

In [ ]:
a=input('Enter number: ')
print('a= ',a,':',type(a))
b=int(input('Enter Number: '))
print('b= ',b,':',type(b))

Enter number: 3
a=  3 : <class 'str'>
Enter Number: 3
b=  3 : <class 'int'>

**Strings**

In python, anything that you enclose between single or double quotation marks is considered a string.

 A string is essentially a sequence or array of textual data.

 Strings are used when working with Unicode characters.

 **Note:** It does not matter whether you enclose your strings in single or double quotes, the output remains the same.

In [ ]:
name = "Harry"
print("Hello, " + name)

Hello, Harry

How will you print this statement in python?: He said, "I want to eat an apple".

We will definitely use single quotes for our convenience

In [ ]:
print('He said, "I want to eat an apple".')

He said, "I want to eat an apple".

**Multiline Strings**

If our string has multiple lines, we can create them like this:

In [ ]:
str='''
hello I am Muhammad Amjad
'''

print(str)

hello I am Muhammad Amjad

**Accessing Characters of a String**

A string in Python is a collection of characters structured in an array-like form. It is possible to obtain certain parts of the text by using the index, which starts at 0.

In [ ]:
name='Amjad'
print(name[0])
print(name[1])

A
m

**Looping through the string**

We can loop through strings using a for loop like this:

In [ ]:
for character in name:
    print(character)

A
m
j
a
d

**String Slicing & Operations on String**

**Length of a String**

We can find the length of a string using len() function.

In [ ]:
name='AMJAD'

print(len(name))

5

**String as an array**

A string is essentially a sequence of characters also called an array. Thus we can access the elements of this array.

In [ ]:
name='Amjad'

print(name[:2])#this will print only first two elements
print(name[1])#this will print element ata index 1

Am
m

**Note:** This method of specifying the start and end index to specify a part of a string is called slicing.

In [ ]:
name='Muhammad Amjad'
print(name[:5])#print 5 eleemnts from starting
print(name[5:])#print all elements except starting 5
print(name[1:5])#print all elements between 1 and 5 index. It does not print 1 and 5 index elements
print(name[-5:])#print 5 eleemnts from end
print(name[:-5])#print all elements except ending 5
print(name[-5:-2])##print all elements between 5 and 2 index from end. It also 5 index elements from end

Muham
mad Amjad
uham
Amjad
Muhammad
Amj

**String methods**

Python provides a set of built-in methods that we can use to alter and modify the strings.

**upper() :**

The upper() method converts a string to upper case.

In [ ]:
name='Amjad'
print(name.upper())

AMJAD

**lower():**

The lower() method converts a string to lower case.

In [ ]:
name='Amjad'
print(name.lower())

amjad

**strip() :**

The strip() method removes any white spaces before and after the string.

In [ ]:
name='           Muhammad Amjad from BSE           '
print(name.strip())

Muhammad Amjad from BSE

**rstrip() :**

The rstrip() function removes any characters at the end of a string.

In [ ]:
name='Amjad!!!!!!!!!!!'
print(name.rstrip('!'))

Amjad

**replace() :**

You can use the replace() method to replace all occurrences of a specific string with a different one.

In [ ]:
name='Muhammad,Amjad'
print(name.replace(',',' '))

Muhammad Amjad

**split() :**

When you use the split() method, it separates the given string at a specified location and returns the divided strings as items in a list.

In [ ]:
name='Muhammad Amjad'
print(name.split(' '))

['Muhammad', 'Amjad']

**capitalize() :**

The capitalize() method converts only the first character of a string to uppercase, while the remaining characters are converted to lowercase. If the initial character is already uppercase, the string has no impact.

In [ ]:
name='Muhammad Amjad'
print(name.capitalize())

Muhammad amjad

**`center() :`**

The center() method aligns the string to the center as per the parameters given by the user.

In [ ]:
name='Amjad'
print(name.center(3))
print(len(name.center(3)))

Amjad
5

We can also provide padding characters. It will fill in the remaining fill characters supplied by the user.

In [ ]:
name='Amjad'
print(name.center(7,'.'))

.Amjad.

**count() :**

The count() method returns the number of times of the provided value in the given string.

In [ ]:
name='amjad'
print(name.count('a'))

2

**endswith() :**

The endswith() method checks if the string ends with a given value. If yes then return True, else return False.

In [ ]:
name='Amjad'
print(name.endswith('a'))
print(name.endswith('d'))

False
True

**find() :**

The find() method looks for the first instance of the provided item and returns the index where it can be found. If the specified value is not found in the string, return -1.

In [ ]:
str='why are you here?'
print(str.find('y'))
print(str.find('z'))

2
-1

**index() :**

The index() method looks for the initial appearance of a provided value in a string and provides the position where it's found. If the value isn't in the string, it triggers an exception.

In [ ]:
str='why are you here?'
print(str.index('y'))

2

**Note:** This method is similar to the find() method. The main distinction is that index() throws an error if value is missing, whereas find() does not.

In [ ]:
print(str.index('z'))

ValueError: ignored

**isalnum() :**

The isalnum() method returns True only if the entire string only consists of A-Z, a-z, 0-9. If any other characters or punctuations are present, then it returns False.

In [ ]:
name='Amjad'
str1='Muhammad Amjad'
str='hello how are you?'
print(name.isalnum())
print(str1.isalnum())
print(str.isalnum())

True
False
False

**isalpha() :**
The isalpha() method returns True only if the entire string only consists of A-Z, a-z. If any other characters or punctuations or numbers(0-9) are present, then it returns False.

In [ ]:
name='Amjad'
username='amjad5azx'
str1='Muhammad Amjad'
str='hello how are you?'
print(name.isalpha())
print(username.isalpha())
print(str1.isalpha())
print(str.isalpha())

True
False
False
False

**islower() :** The islower() method returns True if all the characters in the string are lower case, else it returns False.

In [ ]:
str1='Amjad'
str2='amjad'
print(str1.islower())
print(str2.islower())

False
True

**isprintable() :**

The isprintable() method returns True if all the values within the given string are printable, if not, then return False.

In [ ]:
str1='Hello how are you?'
str2='Hello\thow are you?'
print(str1.isprintable())
print(str2.isprintable())

True
False

**isspace() :**

The isspace() method returns True only and only if the string contains white spaces, else returns False.

In [ ]:
str1='Muhammad Amjad'
str2='Muhammad\tAmjad'
str3='        '
print(str1.isspace(),str2.isspace(),str3.isspace())

False False True

**istitle() :**

The istitile() returns True only if the first letter of each word of the string is capitalized, else it returns False.

In [ ]:
name='Muhammad Amjad'
text='New town'
print(name.istitle(),text.istitle())

True False

**isupper() :**

The isupper() method returns True if all the characters in the string are upper case, else it returns False.

In [ ]:
name='AMJAD'
print(name.isupper())

True

**startswith() :**

The endswith() method checks if the string starts with a given value. If yes then return True, else return False.

In [ ]:
text='Hello how are you?'
print(text.startswith('Hello'))

True

**swapcase() :**

The swapcase() method changes the character casing of the string. Upper case are converted to lower case and lower case to upper case.

In [ ]:
text='My name is Muhammad Amjad'
print(text.swapcase())

mY NAME IS mUHAMMAD aMJAD

**title() :**

The title() method capitalizes each letter of the word within the string.

In [ ]:
text='new text'
print(text.title())

New Text

**If-else:**

Programmers need to verify whether certain expressions result in True or False during program execution. If False, the program takes an alternative path compared to what it would have taken if the expression was True.

Based on this, the conditional statements are further classified into following types:

if

if-else

if-else-elif

nested if-else-elif.


---


**An if……else statement evaluates like this:**

**if the expression evaluates True:** Execute the block of code inside if statement. After execution return to the code out of the if……else block.\

**if the expression evaluates False:** Execute the block of code inside else statement. After execution return to the code out of the if……else block.

In [ ]:
# if-else:
applePrice = 210
budget = 200
if (applePrice <= budget):
    print("Alexa, add 1 kg Apples to the cart.")
else:
    print("Alexa, do not add Apples to the cart.")

Alexa, do not add Apples to the cart.

In [ ]:
# if-else-elif

num = int(input("Enter the value of num: "))
if (num < 0):
  print("Number is negative.")
elif (num == 0):
  print("Number is Zero.")
elif (num == 999):
  print("Number is Special.")
else:
  print("Number is positive.")

print("I am happy now")

Enter the value of num: 4
Number is positive.
I am happy now

In [ ]:
# nested if-else-elif.
num = 18
if (num < 0):
    print("Number is negative.")
elif (num > 0):
    if (num <= 10):
        print("Number is between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is between 11-20")
    else:
        print("Number is greater than 20")
else:
    print("Number is zero")

Number is between 11-20

**Match Case Statements**

In Python, a match case statement is used to achieve functionality similar to switch-case in languages like C, C++, or Java. It compares a variable's value to different patterns until a match is found.

The match case consists of three main entities :



*   The match keyword
*   One or more case clauses
* Expression for each case
  



---
**Syntax:**


```
match variable_name:
            case ‘pattern1’ : //statement1
            case ‘pattern2’ : //statement2
            case ‘pattern n’ : //statement n
```

In [ ]:
x = 4
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4 if x % 2 == 0:
        print("x % 2 == 0 and case is 4")
    # Empty case with if-condition
    case _ if x < 10:
        print("x is < 10")
    # default case(will only be matched if the above cases were not matched)
    # so it is basically just an else:
    case _:
        print(x)

x % 2 == 0 and case is 4

**Introduction to Loops**


---
Sometimes a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loops are further classified into following main types;

*   for loop
*   while loop

**The for Loop**

for loops can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

**Example: iterating over a string:**

In [ ]:
name = 'Abhishek'
for i in name:
    print(i, end=", ")

A, b, h, i, s, h, e, k,

**Example: iterating over a list:**

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow"]
for x in colors:
    print(x)

Red
Green
Blue
Yellow

**range():**
In Python, range() is a built-in function used to generate a sequence of numbers. It's commonly used with a for loop to iterate over a range of values.

**Example:**

In [ ]:
for k in range(5):
    print(k)

0
1
2
3
4

Here, we can see that the loop starts from 0 by default and increments at each iteration.

But we can also loop over a specific range.

In [ ]:
for k in range(4,9):
    print(k)

4
5
6
7
8

**what happend if we use range(x, y, z)?**

The third parameter, z, in range(x, y, z) controls the step or increment between numbers in the sequence. If not specified, the default is **1**

In [ ]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

**Python while Loop:**

while loops execute statements while the condition is True. As soon as the condition becomes False, the interpreter comes out of the while loop.

In [ ]:
count = 5
while (count > 0):
  print(count)
  count = count - 1

5
4
3
2
1

**Else with While Loop:**

We can even use the else statement with the while loop. Essentially what the else statement does is that as soon as the while loop condition becomes False, the interpreter comes out of the while loop and the else statement is executed.

In [ ]:
x = 5
while (x > 0):
    print(x)
    x = x - 1
else:
    print('counter is 0')

5
4
3
2
1
counter is 0

**Do-While loop in python:**

Python does not have a built-in "do-while" loop like some other programming languages. Instead, you can achieve similar functionality using a "while" loop in combination with a conditional statement.

Here's a simple and short way to simulate a "do-while" loop in Python:



```
while True:
    # Code block to be executed
    # This will always run at least once
    
    if not condition:
        break  # Exit loop when condition is not met
```

In this construct, the code block will always run at least once, similar to a "do-while" loop. The break statement is used to exit the loop when the desired condition is met.

In [ ]:
while True:
  number = int(input("Enter a positive number: "))
  print(number)
  if not number > 0:
    break

Enter a positive number: 3
3
Enter a positive number: 0
0

**break statement**

The break statement enables a program to skip over a part of the code. A break statement terminates the very loop it lies within.

In [ ]:
for i in range(1,101,1):
    print(i ,end=" ")
    if(i==50):
        break
    else:
        print("Mississippi")
print("Thank you")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
6 Mississippi
7 Mississippi
8 Mississippi
9 Mississippi
10 Mississippi
11 Mississippi
12 Mississippi
13 Mississippi
14 Mississippi
15 Mississippi
16 Mississippi
17 Mississippi
18 Mississippi
19 Mississippi
20 Mississippi
21 Mississippi
22 Mississippi
23 Mississippi
24 Mississippi
25 Mississippi
26 Mississippi
27 Mississippi
28 Mississippi
29 Mississippi
30 Mississippi
31 Mississippi
32 Mississippi
33 Mississippi
34 Mississippi
35 Mississippi
36 Mississippi
37 Mississippi
38 Mississippi
39 Mississippi
40 Mississippi
41 Mississippi
42 Mississippi
43 Mississippi
44 Mississippi
45 Mississippi
46 Mississippi
47 Mississippi
48 Mississippi
49 Mississippi
50 Thank you

**Continue Statement:**

The continue statement skips the rest of the loop statements and causes the next iteration to occur.

In [ ]:
for i in [2,3,4,6,8,0]:
    if (i%2!=0):
        continue
    print(i)

2
4
6
8
0

**Python Functions:**

---
A function is a block of code that performs a specific task whenever it is called. In bigger programs, where we have large amounts of code, it is advisable to create or use existing functions that make the program flow organized and neat.

There are two types of functions:

1.   Built-in functions
2.   User-defined functions

**Built-in functions:**

---
These functions are defined and pre-coded in python. Some examples of built-in functions are as follows:

min(), max(), len(), sum(), type(), range(), dict(), list(), tuple(), set(), print(), etc.

**User-defined functions:**

---

We can create functions to perform specific tasks as per our needs. Such functions are called user-defined functions.



```
def function_name(parameters):
  pass
  # Code and Statements
```

* Create a function using the def keyword, followed by a function name, followed by a paranthesis (()) and a colon(:).
* Any parameters and arguments should be placed within the parentheses.
* Rules to naming function are similar to that of naming variables.
* Any statements and other code within the function should be indented.

**Calling a function:**

---

We call a function by giving the function name, followed by parameters (if any) in the parenthesis.

In [ ]:
def name(fname, lname):
    print("Hello,", fname, lname)

name("Sam", "Wilson")

Hello, Sam Wilson

**Function Arguments and return statement**

---
There are four types of arguments that we can provide in a function:

* Default Arguments
* Keyword Arguments
* Variable length Arguments
* Required Arguments

**Default arguments:**

We can provide a default value while creating a function. This way the function assumes a default value even if a value is not provided in the function call for that argument.

In [ ]:
def name(fname, mname = "Jhon", lname = "Whatson"):
    print("Hello,", fname, mname, lname)

name("Amy")

Hello, Amy Jhon Whatson

**Keyword arguments:**

We can provide arguments with key = value, this way the interpreter recognizes the arguments by the parameter name. Hence, the the order in which the arguments are passed does not matter.

In [ ]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name(mname = "Peter", lname = "Wesker", fname = "Jade")

Hello, Jade Peter Wesker

**Required arguments:**

In case we don’t pass the arguments with a key = value syntax, then it is necessary to pass the arguments in the correct positional order and the number of arguments passed should match with actual function definition.

**Example 1:**

When number of arguments passed does not match to the actual function definition.

In [ ]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Quill")

**Example 2:**

When number of arguments passed matches to the actual function definition.

In [ ]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Ego", "Quill")

Hello, Peter Ego Quill

**Variable-length arguments:**

Sometimes we may need to pass more arguments than those defined in the actual function. This can be done using variable-length arguments.

There are two ways to achieve this:

**Arbitrary Arguments:**

While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of tuple.

**Example:**

In [ ]:
def name(*name):
    print("Hello,", name[0], name[1], name[2])

name("James", "Buchanan", "Barnes")

Hello, James Buchanan Barnes

**Keyword Arbitrary Arguments:**

While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of dictionary.

In [ ]:
def name(**name):
    print("Hello,", name["fname"], name["mname"], name["lname"])

name(mname = "Buchanan", lname = "Barnes", fname = "James")

Hello, James Buchanan Barnes

**return Statement**


---

The return statement is used to return the value of the expression back to the calling function.

In [ ]:
def name(fname, mname, lname):
    return "Hello, " + fname + " " + mname + " " + lname

print(name("James", "Buchanan", "Barnes"))

Hello, James Buchanan Barnes

**Python Lists**

---
* Lists are ordered collection of data items.
* They store multiple items in a single variable.
* List items are separated by commas and enclosed within square brackets [].
* Lists are changeable meaning we can alter them after creation.

In [ ]:
lst1 = [1,2,2,3,5,4,6]
lst2 = ["Red", "Green", "Blue"]
print(lst1)
print(lst2)

[1, 2, 2, 3, 5, 4, 6]
['Red', 'Green', 'Blue']

In [ ]:
details = ["Abhijeet", 18, "FYBScIT", 9.8]
print(details)

['Abhijeet', 18, 'FYBScIT', 9.8]

**List Index**
Each item/element in a list has its own unique index. This index can be used to access any particular item from the list. The first item has index [0], second item has index [1], third item has index [2] and so on.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]

**Accessing list items**

---

We can access list items by using its index with the square bracket syntax []. For example colors[0] will give "Red", colors[1] will give "Green" and so on...

**Positive Indexing:**
As we have seen that list items have index, as such we can access items using these indexes.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]
print(colors[2])
print(colors[4])
print(colors[0])

Blue
Green
Red

**Negative Indexing:** Similar to positive indexing, negative indexing is also used to access items, but from the end of the list. The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [-5]    [-4]    [-3]     [-2]      [-1]
print(colors[-1])
print(colors[-3])
print(colors[-5])

Green
Blue
Red

**Check whether an item in present in the list?**
We can check if a given item is present in the list. This is done using the in keyword.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Yellow" in colors:
    print("Yellow is present.")
else:
    print("Yellow is absent.")

Yellow is present.

In [ ]:
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Orange" in colors:
    print("Orange is present.")
else:
    print("Orange is absent.")

Orange is absent.

**Range of Index:**

---
You can print a range of list items by specifying where you want to start, where do you want to end and if you want to skip elements in between the range.



```
listName[start : end : jumpIndex]
```
Note: jump Index is optional. We will see this in later examples.

In [ ]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[3:7])	#using positive indexes
print(animals[-7:-2])	#using negative indexes'

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

**Example: printing all element from a given index till the end**

In [ ]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[4:])	#using positive indexes
print(animals[-4:])	#using negative indexes

['pig', 'horse', 'donkey', 'goat', 'cow']
['horse', 'donkey', 'goat', 'cow']

When no end index is provided, the interpreter prints all the values till the end.

**Example: printing all elements from start to a given index**

In [ ]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[:6])	#using positive indexes
print(animals[:-3])	#using negative indexes

['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']
['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']

When no start index is provided, the interpreter prints all the values from start up to the end index provided.

**Example: Printing alternate values**

In [ ]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[::2])		#using positive indexes
print(animals[-8:-1:2])	#using negative indexes
print(animals[-8])

['cat', 'bat', 'pig', 'donkey', 'cow']
['dog', 'mouse', 'horse', 'goat']
dog

Here, we have not provided start and index, which means all the values will be considered. But as we have provided a jump index of 2 only alternate values will be printed.

**Example: printing every 3rd consecutive value withing a given range**

In [ ]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[1:8:3])

['dog', 'pig', 'goat']

**List Comprehension**

---

List comprehensions are used for creating new lists from other iterables like lists, tuples, dictionaries, sets, and even in arrays and strings.

**Syntax:**



```
List = [Expression(item) for item in iterable if Condition]
```
**Expression:** It is the item which is being iterated.

**Iterable:** It can be list, tuples, dictionaries, sets, and even in arrays and strings.

**Condition:** Condition checks if the item should be added to the new list or not.

**Example 1: Accepts items with the small letter “o” in the new list**

In [ ]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if "o" in item]
print(namesWith_O)

['Milo', 'Bruno', 'Rosa']

**Example 2: Accepts items which have more than 4 letters**

In [ ]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if (len(item) > 4)]
print(namesWith_O)

['Sarah', 'Bruno', 'Anastasia']

**Filtering numbers greater than 10:**

In [ ]:
numbers = [5, 12, 8, 20, 3, 15]
greater_than_10 = [num for num in numbers if num > 10]
print(greater_than_10)  # Output: [12, 20, 15]

[12, 20, 15]

**Squaring numbers:**

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**Converting strings to uppercase:**

In [ ]:
words = ["apple", "banana", "cherry"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)  # Output: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

**Filtering even numbers:**

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)  # Output: [2, 4]

[2, 4]

In [ ]:
import math
def fun(x):
  return math.pow(x,3)-x-4

def fun2(a,b):
  return (a+b)/2

In [ ]:
print(fun2(1.796,1.798))

1.7970000000000002

In [ ]:
print(fun(1.797))

0.005888573000000008